<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/alfinbudiyanto.jpg"
        alt="Alfin Budiyanto"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Alfin Budiyanto</h1>
      <p class="lead">Lecturer | Content Creator</p>
    </div>
  </div>
</div>
